.kvshw__header {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 50% 50%;
}

.kvshw__header_inner-div {
    display: grid;
    width: 100vw;
    grid-template-columns: 60% 40%;
}

.kvshw__header_inner-div_left {
    flex: 1 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 5rem;
    padding-left: 200px;
}

.kvshw__header_inner-div_left h1 {
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;

}

/* .kvshw__header_inner-div_left h1:hover {
    background: var(--gradient-text-rev);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
} */

.kvshw__header_inner-div_left h2 {
    color: #fff;
    font-weight: 400;
    font-size: 2.5rem;
}

.kvshw__header_inner-div_left p {
    margin-top: 1rem;
    color: #fff;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 30px;
    width: 700px;
}

.kvshw__header_inner-div_left h4 {
    margin-top: 2rem;
    color: #fff;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 22px;

}

.kvshw__header_inner-div_left .contact_btn a {
    background: var(--gradient-text);
    background-clip: text;
    font-weight: 500;
    margin-top: 3rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.6rem;
    list-style: none;
    text-decoration: none;
}

.kvshw__header_inner-div_social {
    margin-right: 8rem;
}

.right__main {
    display: grid;
}

.kvshw__header_inner-div_right {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 10vh;
}

.social_icons {
    margin: 1rem 2rem;
}

.upcoming__features-about {
    /* margin: 2rem 10rem 2rem 2rem;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='13' ry='13' stroke='%23FF27DDFF' stroke-width='5' stroke-dasharray='6%2c 14' stroke-dashoffset='10' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 13px;
    padding: 1rem 4rem; */
    height: 70vh;
}

.upcoming__features h3,
li {
    color: #fff;
    font-family: 'AnkaCoderRegular';
    font-weight: bold;



}

.upcoming__features h3 {
    text-align: center;
    margin: 1.5rem;
    font-size: 1.5rem;
}

.upcoming__features li {
    list-style: none;
    line-height: 2rem;
    font-weight: normal;
    font-style: normal;
}

.in-progress {
    font-family: 'Helvetica', sans-serif;
    background-color: #008c4f;
    padding: 0.2rem 0.6rem;
    border-radius: 4px;
    font-size: 12px;

}