.menu-overlay {
    /* position: fixed;
    top: 9vh; */
    /* left: 0;
    right: 0;
    bottom: 7vh; */
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.menu-container {
    /* position: fixed;
    top: 9vh; */
    /* left: 0;
    bottom: 7vh; */
    width: 60vw;
    background-color: #fff;
    z-index: 1000;
    overflow: auto;
}

.menu-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.menu-item {
    margin-bottom: 20px;
}

.menu-item a {
    /* font-size: 24px; */
    /* color: #333; */
    text-decoration: none;
    transition: color 0.3s ease;
}

.menu-item a:hover {
    color: #ff00ff;
}